.btn {
	/* Big juicy red button if we ever need more than one */
	background-color:#ff7361;
	width: 60%;
	text-align: center;
	height:20%;
	border:1px solid #edb6af;
	border-radius:8px;
	color:white;
	font-size:7em;
	font-weight:bold;
	font-family:Helvetica, Lucinda, sans-serif;
	padding:6px 12px;
	position:relative;
	display: block;
	margin:auto;
}
.btn:hover {
	color:#ffffff;
	background-color:#ff1e00;
}
.btn:active {
	color:#ffffff;
	background:#c41700;
	box-shadow:inset 0 20% 80% rgba(0,0,0,0.2)
}
body {
	background-image:radial-gradient(#fff, #e1e8ed);
	margin: 0;
	padding: 0;
}
#btndiv {
	/* Pretty much just finds the center of the screen no matter what the screen is */
	height:70%;
	width: 100%;
	position:absolute;
	margin: auto;
	align-content: center;
	text-align: center;
	top: 50%;
	left: 0;
	right:0;
	bottom:0;
}
#btndiv a {
	font-size:1.5em;
	font-family: Helvetica, Lucinda, sans-serif;
}
#logo {
	/* Might be able to just use #btndiv for this, but it's here if you need it to be styled differently */
	display:block;
	margin:auto;
}
